@import url('https://fonts.googleapis.com/css2?family=Coiny&family=Concert+One&display=swap');

:root{
    --green: rgb(184, 224, 184);
    --yellow: rgb(229, 228, 180);
    --orange: rgb(248, 220, 194);
    --red: rgb(208, 149, 149);
    --white: rgb(248, 248, 248);
    --blue: rgb(196, 206, 217);
    --green-rgb: 184, 224, 184;
}

body{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    font-family: 'Concert One', cursive;
}

.welcome-screen{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: var(--orange);

    display: flex;
    justify-content: center;
    text-align: center;
}

.welcome-screen .welcome-form{
    margin-top: 5%;
    
} 

.welcome-screen .welcome-icon{
    height: 150px;
    width: 150px;
    opacity: 0.75;
    user-select: none;
} 

.welcome-screen h1{
    color: var(--red);
    margin-top: 1.2rem;
    margin-bottom: 3rem;
    font-size: 6rem;
    text-shadow: 0.09rem 0.09rem 0.3rem rgba(255, 255, 255, 0.6); 
    user-select: none;
}

.top-mrg{
    margin-top: 1.6rem !important;
    margin-bottom: 3.3rem !important;
}

.welcome-screen .inputs{
    display: flex;
    gap: 2.5%;
    align-items: center;
    justify-content: center;
    /* border: 1px solid black; */
}

.welcome-screen .name-input{
    border: none;
    width: 20rem;
    height: 3rem; /* should be 3rem */
    border-radius: 1.1rem;
    font-size: 1.4rem;
    text-align: center;
    margin-top: 0;
    background-color: white;
    box-shadow: 0 0.25rem 0.5rem rgba(121, 121, 121, 0.4);
    font-family: 'Coiny', cursive; 
    line-height: 3rem;
    vertical-align: middle;
    color: rgba(0, 0, 0, 0.9);
    text-decoration: none !important;
}

.welcome-screen .name-input::placeholder{
    opacity: 0.25;
    line-height: 3rem;
    vertical-align: middle;
    font-size: 1.4rem;
}

.welcome-screen .name-button, .welcome-screen .options-button{
    padding: 0.7rem 1.7rem;
    border-radius: 1.1rem;
    font-size: 1.5rem;
    border: none;
    color: white;
    background: var(--green);
    box-shadow: 0 0.25rem 0.5rem rgba(121, 121, 121, 0.4);
    cursor: pointer;
    transition: transform 0.05s, filter ease-in-out 0.05s;
    font-family: 'Concert One', cursive; 
    font-weight: bold;
    letter-spacing: 0.3rem;
    text-align: center;
    user-select: none;
}

.play-icon-new{
    margin-right: 6% !important;
}

.welcome-screen .options-button{
    background: var(--blue);
}

.welcome-bigger{
    width: 20rem !important;
    height: 3.5rem !important;
    font-size: 1.7rem !important;
}

.options-button{
    font-size: 1.7rem !important;
    padding: 0.8rem 1.8rem !important;
}

.welcome-screen .name-button:hover, .welcome-screen .options-button:hover{
    filter: brightness(105%);
}

.welcome-screen .name-button:active, .welcome-screen .options-button:active{
    transform: translateY(0.2rem);
    box-shadow: 0 0 rgba(121, 121, 121, 0.65);
}

.hide-animation{
    animation: hideScreen 2s forwards;
}

.fa-pen-to-square{
    transform: translateX(15%);
}

.no-display{
    display: none;
}

@keyframes hideScreen {
    0% {
    opacity: 1;
    }
    100% {
      opacity: 0;
      visibility: hidden;
    }
}



@keyframes hideScreen {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        visibility: hidden;
    }
}


@media (max-aspect-ratio: 4/3){
    .welcome-screen .welcome-form{
        margin: 15% 15px;
    }
}

@media (max-aspect-ratio: 3/5){
    .welcome-screen .welcome-form{
        margin: 25% 15px;
        width: 100%;
    }
    .welcome-screen .name-input{
      width: 100%;
    }

}

/* main timer screen */

.main-page{
    visibility: hidden;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    /* background-color: rgba(var(--green-rgb), 0.65); */
    color: rgb(20, 20, 20);

    background-color: rgba(184, 224, 184, 0.65);
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 80 40' width='80' height='40'%3E%3Cpath fill='%23ffffff' fill-opacity='0.3' d='M0 40a19.96 19.96 0 0 1 5.9-14.11 20.17 20.17 0 0 1 19.44-5.2A20 20 0 0 1 20.2 40H0zM65.32.75A20.02 20.02 0 0 1 40.8 25.26 20.02 20.02 0 0 1 65.32.76zM.07 0h20.1l-.08.07A20.02 20.02 0 0 1 .75 5.25 20.08 20.08 0 0 1 .07 0zm1.94 40h2.53l4.26-4.24v-9.78A17.96 17.96 0 0 0 2 40zm5.38 0h9.8a17.98 17.98 0 0 0 6.67-16.42L7.4 40zm3.43-15.42v9.17l11.62-11.59c-3.97-.5-8.08.3-11.62 2.42zm32.86-.78A18 18 0 0 0 63.85 3.63L43.68 23.8zm7.2-19.17v9.15L62.43 2.22c-3.96-.5-8.05.3-11.57 2.4zm-3.49 2.72c-4.1 4.1-5.81 9.69-5.13 15.03l6.61-6.6V6.02c-.51.41-1 .85-1.48 1.33zM17.18 0H7.42L3.64 3.78A18 18 0 0 0 17.18 0zM2.08 0c-.01.8.04 1.58.14 2.37L4.59 0H2.07z'%3E%3C/path%3E%3C/svg%3E");
}

@keyframes showScreen {
    0% {
    opacity: 0;
    }
    100% {
      opacity: 1;
      visibility: visible;
    }
}

.show-animation{
    animation: showScreen 2s forwards;
}

.main-page .top-container{
    width: 100%;
    display: flex;
    justify-content: center;
}

.main-page .top{
    margin: 1% 1%;
    margin-bottom: 2%;
    width: 75%;
    display: flex;
    align-items: center;
    justify-content: center;;
    text-align: center;
    border-radius: 3rem;
    box-shadow: 0 0.25rem 0.5rem rgba(121, 121, 121, 0.4);
    /* background: rgba(255, 255, 255, 0.2); */
    background: rgba(255, 255, 255, 0.50);
    box-shadow: 1px 3px 18px -2px rgba(66, 68, 90, 1);
}

.main-page .hi{
    margin-top: 0.5%;
    font-size: 3.5rem;
    color: var(--coral);
    /* text-shadow: 0 0.25rem 0.5rem rgba(121, 121, 121, 0.4);  */
    margin-bottom: 1%;
    /* font-weight: 450; */
}

.main-page .middle{
    margin-top: 0%;
    display: flex;
    flex-direction: row;
    height: 70%;
    align-items: center;
    justify-content: space-evenly;
    

}

.main-page .left-side{
    width: 63%;
    height: 100%;
    display: flex; 
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    border-radius: 3rem;
    box-shadow: 0 0.25rem 0.5rem rgba(121, 121, 121, 0.4);
    /* background: rgba(255, 255, 255, 0.2); */
    position: relative;
}

.main-page .timer-area{
    font-size: 12rem;
    height: 61%;
    width: 97%;
    /* border-radius: 3rem;
    box-shadow: 0 0.25rem 0.5rem rgba(121, 121, 121, 0.4); */
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.main-page .scramble-area{
    /* border-radius: 3rem; */
    width: 97%;
    text-align: center;
    font-size: 3rem;
    margin-top: 0.8%;
    /* box-shadow: 0 0.25rem 0.5rem rgba(121, 121, 121, 0.4); */
}



.main-page .timer-text{
    text-decoration: line-through var(--yellow) 0.5rem; 
    border-radius: 10rem;
    position: relative;
}

.main-page .timer-controls{
    text-align: center;
    vertical-align: center;
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 23%;
    gap: 45%;

    
    font-size: 1.8rem;
    margin-bottom: 8%;
}

.main-page .timer-controls span{
    cursor: pointer;
}

.main-page .plus2-last{
    display: flex;
}

.main-page .fa-plus, .main-page .fa-2{
    font-size: 1.5rem;
}

.hide-controls{
    visibility: hidden;
}

.show-controls{
    visibility: visible;
}

.blue-2{
    color: lightskyblue;
}

.red-dnf{
    color: red;
}

.main-page .dnf-last{
    user-select: none;
}

.main-page .stats-area{
    /* border: 2rem solid var(--yellow); */
    border-radius: 3rem;
    width: 30%;
    height: 100%;
    margin-right: 1%;
    box-shadow: 0 0.25rem 0.5rem rgba(121, 121, 121, 0.4);
    /* background: rgba(255, 255, 255, 0.2); */
}

.main-page .stats-header{
    text-align: center;
    font-size: 3rem;
    margin-top: 2.5%;
}

.main-page .stats-area, .main-page .left-side{
    background: var(--yellow);
    box-shadow: 1px 3px 18px -2px rgba(66, 68, 90, 1);
}

.main-page .stats-content  {
    height: 55%;
    overflow-y: scroll;

    border-top: 0.35rem solid black;
    border-bottom: 0.35rem solid black;

    box-shadow: inset 0px 0px 7px 3px rgba(66, 68, 90, 0.8);
}

/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.8);
    border-radius: 10px;
  }
.main-page .stats-table{
    font-size: 1.3rem;
    table-layout: fixed;
    width: 100%;
    text-align: center;
}

.main-page .ao5-times td{
    width: 20%;
}

.main-page .ao5-summary{
    text-align: center;
    margin-top: 2.5%;
    font-size: 1.2rem;
    font-weight: 600;
}

.main-page .break{
    border-top: 0.18rem solid black;
}

.main-page .stats-summary{
    font-size: 1.3rem;
    text-align: center;
    margin-top: 7%;
    display: flex;
    justify-content: space-around;
}

.best-ao5, .best-single{
    font-size: 1.5rem;
}

.main-page .keyboard-icon{
    
    position: absolute;
    left: 92%;
    top: 85.5%;
    font-size: 2.5rem;
    cursor: pointer;
    /* text-shadow: 0 0.25rem 0.5rem rgba(121, 121, 121, 0.4); */
    transition: transform 0.05s;

}

.main-page .keyboard-icon:active{
    transform: translateY(0.2rem);
}

.main-page .time-input{
    border: none;
    width: 25rem;
    height: 6rem;
    border-radius: 1.1rem;
    margin-bottom: 4%;
    margin-top: 1%;
    font-size: 5.5rem;
    line-height: 5.5rem;
    text-align: center;
    border: 0.1rem solid grey;
    font-family: 'Concert One', cursive;
    vertical-align: center;
    transition: border-width 1s, border-color 1s;
}

@keyframes shake {
    0% {
        margin-left: 0rem;
    }
    25% {
        margin-left: 0.5rem;
    }
    75% {
        margin-left: -0.5rem;
    }
    100% {
        margin-left: 0rem;
    }
}


.main-page .incorrect-input{
    animation: shake 0.2s ease-in-out 0s 2;
}

.animation-center{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 150rem;
    background: transparent;
    width: 40%;
    height: 40%;
    display: none;
    z-index: 10;
}

@keyframes pulse-animation {
    0% {
        box-shadow: 0 0 0 0px rgba(0, 0, 0, 0.2);
        background: rgba(0, 0, 0, 0.2);
    }
    100% {
        box-shadow: 0 0 0 35rem rgba(0, 0, 0, 0);
    }
}

.pulse{
    animation: pulse-animation 1.5s cubic-bezier(0,.4,1,1);
}

.best-text{
    position: absolute;
    font-size: 2.3rem;
    color: rgb(70, 70, 70);
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    top: 34%;
    user-select: none;
    display: none;

}

.display{
    display: block;
}


.disabled{
    pointer-events: none;
}

